/* ============================================================

    Some globally available styles/classes are defined here.
    This file should not be used for styling components.

    TABLE OF CONTENTS:

    GENERAL
    CONTAINERS
    GRIDS
    TYPOGRAPHY
      TEXT COLOR
      LINK HOVER
      TEXT TRANSFORM
      TEXT SIZE
      TEXT ALIGNMENT
      TEXT WEIGHT
    SPACING
    SCROLLING
    SIZING
    POSITIONING
    ROTATION

   ============================================================ */

/* ============================================================
   GENERAL
   ============================================================ */

.o0 {
  opacity: 0 !important;
}
.o1 {
  opacity: 1 !important;
}
.fade-md {
  transition: opacity 300ms !important;
}
.min-height-1-line {
  min-height: $font-size-base * $line-height-base + 1 !important;
}

.no-line-break,
.wsnw {
  white-space: nowrap !important;
}
.cp {
  cursor: pointer !important;
}
.cm {
  cursor: move !important;
}
.vh {
  visibility: hidden !important;
}
.no-outline {
  &,
  &:focus,
  &:hover,
  &:focus:hover {
    outline: none !important;
  }
}
.no-underline {
  &,
  &:focus,
  &:hover,
  &:focus:hover {
    text-decoration: none !important;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

// Flip horizontally
.flip-horizontal {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: 'FlipH';
}

// Hide spinner buttons on number inputs.
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.required:before {
  content: '*';
  color: $danger;
  padding-right: 2px;
}

/* ============================================================
   CONTAINERS
   ============================================================ */

.bg-section {
  background-color: $section-bg !important;
}

// A container just like bootstrap's `container-fluid` class
// but it stops at 1140px. Use instead of `container-fluid`.
.container-xl {
  max-width: map_get($container-max-widths, xl);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// Max Width Containers
// Used to keep copy from using the entire block on larger screens
// Example:
// <div class="mw-480 mr-auto">Text with lots of words</div>
.mw-650 {
  max-width: 650px;
}
.mw-480 {
  max-width: 480px;
}

.rounded {
  border-radius: 4px !important;
}

.maskable {
  position: relative;
  &:not(.unmasked) {
    max-height: 120px;
    overflow: hidden;
  }
}
.maskable-mask {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.maskable-mask-fade {
  height: 60px;
  @include gradient-y(rgba(#fff, 0), #fff);
}
.maskable-mask a {
  display: block;
  background-color: #fff;
  color: $primary;
  text-transform: uppercase;
  text-decoration: underline;
}
// Mobile only version
.m-maskable .maskable-mask {
  display: none;
}
@include mobile() {
  .m-maskable {
    position: relative;
    &:not(.unmasked) {
      max-height: 120px;
      overflow: hidden;
    }
  }
  .m-maskable .maskable-mask {
    display: block;
  }
}

// Border Tail - Add an arrow below container.
.border-tail:after {
  @include border-tail(#fff);
}
@include mobile {
  .border-tail--mobile:after {
    @include border-tail(#fff);
  }
}

// Video Wrapper
// - Achieves fluid width sizing and auto height keeping ratio at 16:9.
//   Wrap youtube embeds with one of these.
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.debuggy pre,
.debuggy h4 {
  font-family: monospace;
}
.debuggy pre {
  background-color: #fff;
  font-size: 10px;
}
.debuggy h4 {
  font-size: 15px;
  color: $primary;
}

.collapsible.collapsed .collapsible-body {
  display: none;
}

.flex-cols {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-col {
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-cols.align-items--center {
  align-items: center;
}

@include tablet {
  .flex-cols.flex-cols--2 .flex-col {
    flex-basis: 50%;
    max-width: 50%;
  }
  .flex-cols.flex-cols--3 .flex-col {
    flex-basis: 33%;
    max-width: 33%;
  }
  .flex-cols.flex-cols--4 .flex-col {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.fading {
  opacity: 0.3;
}

.loadable {
  position: relative;
}
.loadable-glass {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============================================================
   GRIDS - CSS grids
   css-tricks.com/snippets/css/complete-guide-grid
   ============================================================ */

/* grid-sm-3 - CSS grid replacing bootstrap column grids.
--------------------------------------------------------------- */

.grid-sm-3 {
  margin-left: -15px;
  margin-right: -15px;
}
.grid-item {
  padding-left: 15px;
  padding-right: 15px;
}

@include tablet {
  // A tablet only three column grid (4 x 4 x 4).
  .grid-sm-3 {
    display: -ms-grid;
    display: grid;
    grid-template: repeat(9, auto) / repeat(3, 33.33%);
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
    -ms-grid-columns: 33.33% 33.33% 33.33%;
  }

  // A tablet only 2 column grid (6 x 6).
  .grid-sm-2 {
    display: -ms-grid;
    display: grid;
    grid-template: repeat(9, auto) / repeat(2, 50%);
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
    -ms-grid-columns: 50% 50%;
  }
}

@include tablet {
  @for $i from 1 through 10 {
    @for $j from 1 through 3 {
      /* Uses '_' instead of '-' because sass will output nothing for '-' when used inside a for loop. */
      .grid-item._#{$i}-#{$j} {
        grid-row-start: #{$i};
        grid-row-end: #{$i + 1};
        grid-column-start: #{$j};
        grid-column-end: #{$j + 1};
        -ms-grid-row: #{$i};
        -ms-grid-column: #{$j};
      }
    }
  }
}

/* ============================================================
   TYPOGRAPHY
   ============================================================ */

.select-all {
  user-select: all !important;
}

/* TEXT COLOR
--------------------------------------------------------------- */

.text-white {
  color: $white !important;
}
.text-subtle {
  color: $gray-dark !important;
}
.text-grey {
  color: $gray !important;
}
.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}

/* LINK HOVER
--------------------------------------------------------------- */

a.text-white:hover,
a.text-white:focus {
  color: $white !important;
}
a.text-subtle:hover,
a.text-subtle:focus {
  color: $gray-dark !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: $primary !important;
}
a.text-secondary :hover,
a.text-secondary :focus {
  color: $secondary !important;
}

/* TEXT TRANSFORM
--------------------------------------------------------------- */

.text-uppercase {
  text-transform: uppercase !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-underline {
  text-decoration: underline !important;
}
.text-strike {
  text-decoration: line-through !important;
}
.text-italic {
  font-style: italic !important;
}
.wbba {
  word-break: break-all !important;
}

/* TEXT SIZE
--------------------------------------------------------------- */
// mobile font sizes
.font-size-sm {
  font-size: $font-size-sm !important;
}
.font-size-base {
  font-size: $font-size-base !important;
}
.font-size-lg {
  font-size: $font-size-lg !important;
}

@include tablet {
  // tablet and up font sizes
  .font-size-sm-tb {
    font-size: $font-size-sm !important;
  }
  .font-size-base-tb {
    font-size: $font-size-base !important;
  }
  .font-size-lg-tb {
    font-size: $font-size-lg !important;
  }
}

/* TEXT ALIGNMENT
--------------------------------------------------------------- */
.tal,
.text-left {
  text-align: left !important;
}
.tac,
.text-center {
  text-align: center !important;
}
.tar,
.text-right {
  text-align: right !important;
}

/* TEXT WEIGHT
--------------------------------------------------------------- */

.text-bold,
.fwb {
  font-weight: bold !important;
}
.fwn {
  font-weight: normal !important;
}

/* ============================================================
   SPACING
   ============================================================ */


$bumpers: (
  xl: 60px,
  lg: 40px,
  '': 20px,
  md: 15px,
  sm: 10px,
  xs: 5px
);

@mixin make_bumpers($prefix, $prop) {
  @each $size, $value in $bumpers {
    @if $size == '' {
      .#{$prefix} { #{$prop}: $value !important; }
    } @else {
      .#{$prefix}-#{$size} { #{$prop}: $value !important; }
    }
  }
}
@include make_bumpers('p', 'padding');
@include make_bumpers('pt', 'padding-top');
@include make_bumpers('pb', 'padding-bottom');
@include make_bumpers('pl', 'padding-left');
@include make_bumpers('pr', 'padding-right');

// Mobile only
@include mobile {
  @include make_bumpers('m-p', 'padding');
  @include make_bumpers('m-pt', 'padding-top');
  @include make_bumpers('m-pb', 'padding-bottom');
  @include make_bumpers('m-pl', 'padding-left');
  @include make_bumpers('m-pr', 'padding-right');
}

// Desktop only
@include tablet {
  @include make_bumpers('d-p', 'padding');
  @include make_bumpers('d-pt', 'padding-top');
  @include make_bumpers('d-pb', 'padding-bottom');
  @include make_bumpers('d-pl', 'padding-left');
  @include make_bumpers('d-pr', 'padding-right');
}

@include make_bumpers('m', 'margin');
@include make_bumpers('mt', 'margin-top');
@include make_bumpers('mb', 'margin-bottom');
@include make_bumpers('ml', 'margin-left');
@include make_bumpers('mr', 'margin-right');

// Mobile only
@include mobile {
  @include make_bumpers('m-m', 'margin');
  @include make_bumpers('m-mt', 'margin-top');
  @include make_bumpers('m-mb', 'margin-bottom');
  @include make_bumpers('m-ml', 'margin-left');
  @include make_bumpers('m-mr', 'margin-right');
}

// Desktop only
@include tablet {
  @include make_bumpers('d-m', 'margin');
  @include make_bumpers('d-mt', 'margin-top');
  @include make_bumpers('d-mb', 'margin-bottom');
  @include make_bumpers('d-ml', 'margin-left');
  @include make_bumpers('d-mr', 'margin-right');
}

.m0 {
  margin: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.margin-centering {
  margin-left: auto !important;
  margin-right: auto !important;
}

.p0 {
  padding: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}

/* ============================================================
   SCROLLING
   ============================================================ */

.scroll-xl,
.scroll-lg,
.scroll-md,
.scroll-sm {
  overflow-y: auto !important;
}
.scroll-xl {
  max-height: 600px !important;
}
.scroll-lg {
  max-height: 350px !important;
}
.scroll-md {
  max-height: 200px !important;
}
.scroll-sm {
  max-height: 160px !important;
}

// Desktop only
@media (min-width: $screen-tablet) {
  .d-scroll-xl,
  .d-scroll-lg,
  .d-scroll-md,
  .d-scroll-sm {
    overflow-y: auto !important;
  }
  .d-scroll-xl {
    max-height: 600px !important;
  }
  .d-scroll-lg {
    max-height: 350px !important;
  }
  .d-scroll-md {
    max-height: 200px !important;
  }
  .d-scroll-sm {
    max-height: 160px !important;
  }
}

.side-scroller {
  overflow-x: auto;
  white-space: nowrap;
}

/* ============================================================
   SIZING
   ============================================================ */

.fluid,
.full-width {
  width: 100% !important;
}
.half-width {
  width: 50% !important;
}
.auto-width {
  width: auto !important;
}
.ha {
  height: auto !important;
}

/* ============================================================
   POSITIONING
   ============================================================ */

.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.db {
  display: block !important;
}
.di {
  display: inline !important;
}
.dib {
  display: inline-block !important;
}
.pr {
  position: relative !important;
}
.pa {
  position: absolute !important;
}

.l0 {
  left: 0 !important;
}
.l100 {
  left: 100% !important;
}
.r0 {
  right: 0 !important;
}
.r100 {
  right: 100% !important;
}
.t0 {
  top: 0 !important;
}
.t100 {
  top: 100% !important;
}
.b0 {
  bottom: 0 !important;
}
.b100 {
  bottom: 100% !important;
}

.vam {
  vertical-align: middle !important;
}
.vat {
  vertical-align: top !important;
}
.vab {
  vertical-align: bottom !important;
}
.vatt {
  vertical-align: text-top !important;
}
.vatb {
  vertical-align: text-bottom !important;
}

// Mobile only positioning, add more as needed.
@include mobile {
  .m-tal {
    text-align: left !important;
  }
  .m-tac {
    text-align: center !important;
  }
  .m-tar {
    text-align: right !important;
  }

  .m-db {
    display: block !important;
  }
  .m-dib {
    display: inline-block !important;
  }
}

// Desktop only positioning
@include tablet {
  .d-tal {
    text-align: left !important;
  }
  .d-tac {
    text-align: center !important;
  }
  .d-tar {
    text-align: right !important;
  }

  .d-db {
    display: block !important;
  }
  .d-dib {
    display: inline-block !important;
  }
}

.v-center-block {
  @include v-center-block();
}

/* ============================================================
   ROTATION
   ============================================================ */

.rotate-cw-45 {
  transform: rotate(45deg) !important;
}
.rotate-cw-90 {
  transform: rotate(90deg) !important;
}
.rotate-cw-135 {
  transform: rotate(135deg) !important;
}
.rotate-cw-180 {
  transform: rotate(180deg) !important;
}
.rotate-ccw-45 {
  transform: rotate(-45deg) !important;
}
.rotate-ccw-90 {
  transform: rotate(-90deg) !important;
}
.rotate-ccw-135 {
  transform: rotate(-135deg) !important;
}
