// Import our variables first so we can overwrite bootstraps
// @see https://getbootstrap.com/docs/4.3/getting-started/theming/#variable-defaults
// @see https://parceljs.org/recipes.html#customizing-bootstrap-styles
@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

.btn-primary {
  @include button-variant($primary, $primary, #fff);
}

/* APP - our global styles for our app
--------------------------------------------------------------- */

// A container just like bootstrap's `container-fluid` class
// but it stops at 1140px. Use instead of `container-fluid`.
.container-xl {
  max-width: map_get($container-max-widths, xl);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Wordpress site overrides
--------------------------------------------------------------- */
#bitnami-banner {
  display: none !important;
}
